<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>

    <h1>Maia Boyd's Portfolio</h1>
    <p>Hi, I'm Maia Boyd! I am a second year undergraduate at the University of Chicago
      studying Computer Science with a specialization in Computer Security
      and a minor in Mathematics.  </p>
  </div>

  <!-- <p>Click on the button for a surprise.</p>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>

  <div id="image"></div> -->

</body>

</html>
