<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <!-- <div class="page-header" class="position-relative" style="height: 20vh;"> -->
    <% include ../helpers/navbar %>



  <div class="bg-overlay full">
	<div class="row text-center">

    <div style="padding: 350px 200px 200px 200px;">
        <h1>Hi, I'm Maia!</h1>
        <h5>I am a third year undergraduate at the University of Chicago
          pursuing a double major in Data Science and Computer Science 
          with a specialization in Computer Security. 
          I enjoy programming, analyzing data, research and creating tools that have a positive impact on other's lives. 
          This upcoming summer I will be working as a Software Engineer Intern at <a href="https://www.gapinc.com/en-us/">Gap Inc</a>. 
          I am currently looking for part-time internship opportunities for Fall 2022 as well as full time job opportunities for Summer 2023 after I graduate. 
          If you are interested in learning more about me and my work please check out my <a href="/resume">resume</a> or <a href="/contact">contact me</a>. 
          Welcome to my site!</h5>
        <br><br>



	</div>
</div>
</div>
</div>


</body>

</html>
