<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <!-- <div class="page-header" class="position-relative" style="height: 20vh;"> -->
    <% include ../helpers/navbar %>



  <div class="bg-overlay full">
	<div class="row text-center">

    <div style="padding: 350px 200px 200px 200px;">
        <h1>Hi, I'm Maia!</h1>
        <h5>I am a second year undergraduate at the University of Chicago
          pursuing Computer Science with a specialization in Computer Security
          and a minor in Mathematics. I enjoy programming, research and
          creating tools that have a positive impact on other's lives. I am
          currently working as a Research Assistant at the
          <a href="https://super.cs.uchicago.edu"> University
          of Chicago SUPERgroup.</a> I am looking for internship
          opportunities for Fall 2021 and Summer 2022. If you are interested in
          learning more about me and my work please check out my <a href="/resume">resume</a> or
          <a href="/contact">contact me</a>. Welcome to my site!</h5>
        <br><br>



	</div>
</div>
</div>
</div>


</body>

</html>
