<!-- <ul class="nav">
  <li class="nav-item"><a class="nav-link active" href="/"> Home </li>
  <li class="nav-item"><a class="nav-link active" href="/about"> About </li>
  <li class="nav-item"><a class="nav-link active" href="/projects" > Projects </li>
</ul> -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
<!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/resume">Resume</a>
        </li>
        <li class="nav-item navbar-right">
          <a class="nav-link active" aria-current="page" href="#">Contact</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" href="https://github.com/QueenMaia">Github</a>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
    <!-- </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
  <!--  </div>
  </div>
</nav> -->



<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand" href="/">
            Maia Boyd
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/research">Research</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/resume">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
            </li>
            <!-- <li class="nav-item">
                <a href="https://github.com/QueenMaia" class="nav-link active">Github</a>
            </li> -->
        </ul>
    </div>
</nav>
